.flights-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
}
  
.flights-form ul {
  text-decoration: none;
  justify-self: center;
  list-style-type: none;
  text-align: center;
}

.flights-form li {
  text-decoration: none;
  padding-top: 20px;
}
