.home-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.home-form li {
  list-style-type: none;
  margin-top: 20px;
  text-align: center;
}

.select-box {
  width: 360px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  font-size: 100%;
  box-shadow: 0px 2px rgb(84, 84, 84);
  background-color: white;
  cursor: pointer;
}

.date-picker {
  width: 360px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  border-style: none;
  font-size: 20px;
  box-shadow: 0px 2px rgb(84, 84, 84);
  background-color: rgb(8, 150, 202);
  font-family: 'Poppins', sans-serif;
}
